/venv
.ipynb_checkpoints/
__pycache__/
*.code-workspace
*.vscode/
*.egg-info/

_plots/
_data/
_results/*.pkl
_results/*.log
_results/*/*.pkl
_results_final/
_results_server/

_scripts/get_server_results.sh
_scripts/*.txt
matlab/
*.egg-info/
*.pdf
