/venv
.ipynb_checkpoints/
__pycache__/
*.code-workspace
*.vscode/
*.egg-info/

_plots/
_plots_test/
_data/
_results/*.log
_results/**/*.pkl
_results_test/*.log
_results_test/**/*.pkl

*.egg-info/
*.pdf
